[submodule "Libs/ContainerSetup"]
	path = Libs/ContainerSetup
	url = https://gist.github.com/outlawstar4761/3243b7bcdcd2aa051e85338c403ac0cd
[submodule "Libs/Api"]
	path = Libs/Api
	url = https://github.com/outlawdesigns-io/Api
[submodule "Record"]
	path = Libs/Record
	url = https://github.com/outlawdesigns-io/Record
	branch = version8
[submodule "Libs/SSLConf"]
	path = Libs/SSLConf
	url = https://gist.github.com/outlawstar4761/f542d92168f78640fbb28f26ead562c3
[submodule "Libs\\Record"]
	path = Libs\\Record
	url = https://github.com/outlawdesigns-io/Record
