[submodule "Libs/Api"]
	path = Libs/Api
	url = https://github.com/outlawdesigns-io/Api
[submodule "Record"]
	path = Libs/Record
	url = https://github.com/outlawdesigns-io/Record
[submodule "Libs\\Record"]
	path = Libs\\Record
	url = https://github.com/outlawdesigns-io/Record
[submodule "Libs/JwksTokenValidator-PHP"]
	path = Libs/JwksTokenValidator-PHP
	url = https://github.com/outlawdesigns-io/JwksTokenValidator-PHP
